.values {
    height: 90vh;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid red;
    overflow-y: scroll;
}

.msg {
    border: 1px solid purple;
    width: 100%;
    overflow-wrap: break-word;
}

.my-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
}

.container > * {
    margin: 0 5px;
}

.commands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    border: 1px solid orange;
    max-height: 100%;
}

.cmd {
    font-size: x-large;
    overflow-wrap: break-word;
    flex-grow: 1;
    min-width: 50%;
}

.cmd:first-child {
    min-width: 90%;
}

.system {
    color: greenyellow;
}

.sending {
    color: blue;
}

.communication {
    flex-grow: 1;
    border: 1px solid yellow;
    min-width: 50%;
}

.param {
    display: flex;
    flex-direction: row;
}

.par {
    min-width: 35%;
    font-size: x-large;
    flex-grow: 1;
}