<link rel="stylesheet" href="/static/css/style.css">
<div class ="my-container">
    <div class="commands">
        <div class="status-container">dddddddd</div>
        <button class="btn cmd" id="help">help</button>
        <div class="cmd param">
            <button class="btn par" id="light-power-button">Light power[%]</button>
            <input type="number" id="light-power" min="0" max="100" value="0">
        </div>
        <div class="cmd param">
            <button class="btn par" id="freezer-power-button">Freezer power[%]</button>
            <input type="number" id="freezer-power" min="0" max="100" value="0">
        </div>
        <button class="btn cmd" id="identify">identify</button>
        <button class="btn cmd" id="status">status</button>
        <button class="btn cmd" id="light-mode-on">light mode auto on</button>
        <button class="btn cmd" id="light-mode-off">light mode auto off</button>
        <button class="btn cmd" id="aku-charging-mode-on">aku charging mode on</button>
        <button class="btn cmd" id="aku-charging-mode-off">aku charging mode off</button>
        <button class="btn cmd" id="freezer-mode-on">freezer mode on</button>
        <button class="btn cmd" id="freezer-mode-off">freezer mode off</button>
        <button class="btn cmd" id="charging-on">charging on</button>
        <button class="btn cmd" id="charging-off">charging off</button>
        <button class="btn cmd" id="fan-on">freezer fan on</button>
        <button class="btn cmd" id="fan-off">freezer fan off</button>
        <button class="btn cmd" id="pumps-on">freezer pumps on</button>
        <button class="btn cmd" id="pumps-off">freezer pumps off</button>
        <button class="btn cmd" id="charger1-on">charger 1 on</button>
        <button class="btn cmd" id="charger1-off">charger 1 off</button>
        <button class="btn cmd" id="charger2-on">charger 2 on</button>
        <button class="btn cmd" id="charger2-off">charger 2 off</button>
        <button class="btn cmd" id="audio-on">audio on</button>
        <button class="btn cmd" id="audio-off">audio off</button>
        <div><img src="/static/plr.png" id="logo", class="logo"></div>
    </div>
    <div class="communication">
        <div class="input">
            <input type="text" id="message" placeholder="message">
            <button class="btn" id="send"> SEND </button>
        </div>
        <div class="values"></div>
    </div>
    <div class="statuses">
    </div>
</div>
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/index.js"></script>
<script type="text/javascript" charset="utf-8">
</script>